body{
    background-color: #bdc3c7;
    
}
h1 {
    color:#9b59b6;
}
h2{
    color:orange;
}

li {
    color:#0000ff;
}
p{
    background-color: yellow;
}

input{
    border: 3px solid red;
}
[class ="hello"]{
    background-color: white;
}
#special{
    border: 2px solid blue;
}

div p {
    font-size: 25px;
}

input[type="text"]{
    background-color: gray;
}

div:nth-child(1){
    background-color: rgb(43, 11, 187);
}

div:nth-child(5) p{
    background-color: pink;
}
div:nth-child(5) p:nth-child(3){
    border: 5px solid white;
}
em{
    font-size: 20px;
    color: white;
}

input[type=checkbox]:checked{
    margin-left: 50px;
}
label{
    text-transform: uppercase;
}
p#special:first-letter{
    color: green;
    font-size: 100px;
    
}
h1:hover{
    color: blue;
}
a:visited{
    color: gray;
}